@import url("../din-family.css");

#image_tag{
	width:200px;
	margin:5px;
}

#searchterm{
	width: 300px;
	height: 30px;
	border-radius: 5px;
	text-align: center;
	margin: 20px;
	margin-left: 450px;
	margin-right: auto;
	box-shadow: 1px 1px 1px #888;
	font-size:20px;
	opacity:.6;
}

#searchterm:hover, #searchterm:focus{
	outline:none;
	opacity:.9;
	box-shadow: 1px 1px 1px #888;
}

.instagram-logo{
	width:25px;
}

body{
	border-top: 34px solid yellow;
}

.top-nav{
	font-family: "DIN Next", Helvetica, Arial, sans-serif;
}

.top-nav p{
	margin-top: -25px;
    margin-left: 10px;
}

.top-nav img{
	float: right;
    margin-top: -40px;
    margin-right:10px;
}